<div class='form-card'>
  <button type='button' class='close-modal' id='form-modal'>
    <svg class='close-modal__icon' width='20' height='20' id='close' viewBox='0 0 32 32'>
      <path
        d='M32 3.223L28.777 0 16 12.777 3.223 0 0 3.223 12.777 16 0 28.777 3.223 32 16 19.223 28.777 32 32 28.777 19.223 16 32 3.223z'
      ></path>
    </svg>
  </button>
  <div class='form-container'>
    <div class='control-btn' id='controls'>
      <button
        class='control-sign-up control control-btn--active'
        type='submit'
        data-action='sign-up'
      >Sign Up</button>
      <button class='control-sign-in control' type='submit' data-action='sign-in'>Sign In</button>
    </div>

    <form
      class='form-sign-up form-sign'
      {{! action='http://localhost:8080/api/v1/auth/signup' }}
      method='POST'
      id='form-up'
      autocomplete='on'
    >
      <div class='form-sign__container'>
        <label class='form-sign__field form-sign-up__field-username' for='username'>User Name</label>

        <input
          class='form-sign__input form-sign-up__input-username'
          type='text'
          name='name'
          id='username'
          placeholder='Name'
        />
        <svg class='form-sign__icon'>
          <use href='{{this}}#form-name'></use>
        </svg>

        <svg class='form-sign__failure-icon action'>
          <use href='{{this}}#notification'></use>
        </svg>
        <svg class='form-sign__success-icon action'>
          <use href='{{this}}#checked'></use>
        </svg>

        <span class='error'></span>
      </div>

      <div class='form-sign__container'>
        <label class='form-sign__field form-sign-up__field-email' for='email'>Email</label>

        <input
          class='form-sign__input form-sign-up__input-email'
          type='email'
          name='email'
          id='email'
          placeholder='Mail'
        />
        <span class='error'></span>

        <svg class='form-sign__failure-icon action'>
          <use href='{{this}}#notification'></use>
        </svg>
        <svg class='form-sign__success-icon action'>
          <use href='{{this}}#checked'></use>
        </svg>

        <svg class='form-sign__icon'>
          <use href='{{this}}#form-mail'></use>
        </svg>
      </div>

      <div class='form-sign__container'>
        <label class='form-sign__field form-sign-up__field-password' for='password'>Password</label>

        <input
          class='form-sign__input form-sign-up__input-password'
          type='password'
          name='password'
          id='password'
          placeholder='Password'
        />
        <span class='error'></span>

        <svg class='form-sign__failure-icon action'>
          <use href='{{this}}#notification'></use>
        </svg>
        <svg class='form-sign__success-icon action'>
          <use href='{{this}}#checked'></use>
        </svg>

        <svg class='form-sign__icon'>
          <use href='{{this}}#lock'></use>
        </svg>
      </div>

      <button class='submit-btn submit-btn-sign-up control' type='submit'>Submit</button>
    </form>

    <form
      class='form-sign-in form-sign form-sign--hidden'
      {{! action='http://localhost:8080/api/v1/auth/signin' }}
      method='POST'
      id='form-in'
      autocomplete='on'
    >
      <div class='form-sign__container'>
        <label class='form-sign__field form-sign-in__field-email' for='email'>Email</label>

        <input
          class='form-sign__input form-sign-in__input-email'
          type='email'
          name='email'
          id='emailIn'
          placeholder='Mail'
        />
        <svg class='form-sign__failure-icon action'>
          <use href='{{this}}#notification'></use>
        </svg>
        <svg class='form-sign__success-icon action'>
          <use href='{{this}}#checked'></use>
        </svg>

        <svg class='form-sign__icon'>
          <use href='{{this}}#form-mail'></use>
        </svg>
        <span class='error'></span>
      </div>

      <div class='form-sign__container'>
        <label class='form-sign__field form-sign-in__field-password' for='password'>Password</label>

        <input
          class='form-sign__input form-sign-in__input-password'
          type='password'
          name='password'
          id='passwordIn'
          placeholder='Password'
        />

        <svg class='form-sign__failure-icon action'>
          <use href='{{this}}#notification'></use>
        </svg>
        <svg class='form-sign__success-icon action'>
          <use href='{{this}}#checked'></use>
        </svg>

        <svg class='form-sign__icon'>
          <use href='{{this}}#lock'></use>
        </svg>
        <span class='error'></span>
      </div>

      <button class='submit-btn submit-btn-sign-in control' type='submit'>Submit</button>
    </form>
  </div>

  <div class='welcome-sign-up welcome-sign--hidden'>
    <h2 class='welcome-sign-up__title'></h2>
    <span class='welcome-in-library'>Welcome in FilmLibrary!</span>
  </div>

</div>