<div class="movie-card">
  <div class="movie-image">
    {{#if poster_path}}
    <img src='https://image.tmdb.org/t/p/w500/{{poster_path}}' alt="image" class="gallery-box__image" />
    {{else}}
    <img src='https://www.csaff.org/wp-content/uploads/csaff-no-poster.jpg' alt="image" class="gallery-box__image" />
    {{/if}}
  </div>

  <button type="button" class="close-modal">
    <svg class='header-logo__icon'>
      <use href='{{this}}#'></use>
    </svg>
  </button>

  <div class="movie-desc">
    <h2 class="movie-desc__title">{{title}}</h2>
    <ul class="movie-info">
      <li class="movie-info__list">Vote / Votes<span class="movie-info__desc vote">{{vote_average}}</span><span class="movie-info__desc votes">{{vote_count}}</span></li>
      <li class="movie-info__list">Popularity<span class="movie-info__desc">{{popularity}}</span></li>
      <li class="movie-info__list">Original Title<span class="movie-info__desc">{{original_title}}</span></li>
      <li class="movie-info__list">Genre<span class="movie-info__desc">{{genres}}</span></li>
    </ul>
    <h3 class="movie-about__title">About</h3>
    <p class="movie-desc__overview">{{overview}}</p>
    <div class="movie-btn">
      <button type="button" class="movie-btn__btn movie-btn--watched">add to Watched</button>
      <button type="button" class="movie-btn__btn movie-btn--queue">add to queue</button>
    </div>
  </div>
</div>
